<!DOCTYPE html>  
 <html lang="en">  
 <head>  
   <meta charset="UTF-8">  
   <meta http-equiv="X-UA-Compatible" content="IE=edge">  
   <meta name="viewport" content="width=device-width, initial-scale=1.0">  
   <title>Style store</title>  
   <link rel="stylesheet" href="/static/main.css">  
   <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" width="10%" >  
 </head>  
 <body>  
   <header>  
     <div class="logo"><a href="#">Style Shop</a></div>  
     <div class="menu">  
       <a href=""><ion-icon name="close" class="close"></ion-icon></a>  
       <ul>  
         <li><a href="/" class="under">HOME</a></li>  
         <li><a href="/login" class="under">Login</a></li>  
          
           
         <li><a href="/about" class="under">About us</a></li>  
	 <li><a href="/signup" class="under">Signup</a></li> 
       </ul>  
     </div>  
     <div class="search">  
       <a href=""><input type="text" placeholder="search products" id="input">  
         <ion-icon class="s" name="search"></ion-icon>  
       </a>  
     </div>  
     <div class="heading">  
       <ul>  
         <li><a href="/" class="under">HOME</a></li>  
         <li><a href="/login" class="under">LOGIN</a></li>   
         
         <li><a href="/about" class="under">ABOUT US</a></li>
			<li><a href="/signup" class="under">SIGNUP</a></li>  
       </ul>  
     </div>  
     <div class="heading1">  
       <ion-icon name="menu" class="ham"></ion-icon>  
     </div>  
   </header>  
   <section>  
     <div class="section">  
       <div class="section2">  
         <div class="container">  
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/shoos.jpg"  
                 alt=""></div>  
             <div class="name">SHOES</div>  
             <div class="price">Rs:300</div>  
             <div class="info"><a href="/shoes">Buy</a></div>   
           </div>  
           <div class="items">  
             <div class="img img2"><img  
                 src="https://images.pexels.com/photos/3649765/pexels-photo-3649765.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  
                 alt=""></div>  
             <div class="name">MEN's T-SHIRT</div>  
             <div class="price">Rs:500</div>  
             <div class="info"><a href="/shirt">Buy</a></div>   
           </div>  
           <div class="items">  
             <div class="img img3"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/jeans.jpeg"  
                 alt=""></div>  
             <div class="name">JEANS</div>  
             <div class="price">Rs: 600</div>  
             <div class="info"><a href="/jeans">Buy</a></div>   
           </div>  
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch.jpeg"  
                 alt=""></div>  
             <div class="name">WATCH</div>  
             <div class="price">Rs: 1000</div>  
             <div class="info"><a href="/watch">Buy</a></div>  
           </div>  
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/mobile.jpg"  
                 alt=""></div>  
             <div class="name">SMART PHONE</div>  
             <div class="price">Rs: 15000</div>  
             <div class="info"><a href="/phone">Buy</a></div>   
           </div>  
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/tv.jpeg"  
                 alt=""></div>  
             <div class="name">TELEVISION</div>  
             <div class="price">Rs: 20000</div>  
             <div class="info"><a href="/tv">Buy</a></div>   
           </div>    
             
           
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/lap.jpeg"  
                 alt=""></div>  
             <div class="name">LAPTOP</div>  
             <div class="price">Rs: 40000</div>  
             <div class="info"><a href="/laptop">Buy</a></div>   
           </div>  
  
            
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/book.jpeg"  
                 alt=""></div>  
             <div class="name">BOOK</div>  
             <div class="price">Rs: 200</div>  
             <div class="info"><a href="/book">Buy</a></div>   
           </div>  
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/bag.jpeg"  
                 alt=""></div>  
             <div class="name">BAG</div>  
             <div class="price">Rs: 400</div>  
             <div class="info"><a href="/bag">Buy</a></div> 
           </div>  
           <div class="items">  
             <div class="img img1"><img  
                 src="https://fashion-bucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/saree.jpeg"  
                 alt=""></div>  
             <div class="name">SAREES</div>  
             <div class="price">Rs: 700</div>  
             <div class="info"><a href="/saree">Buy</a></div>  
           </div>    
         </div>  
       </div>  
     </div>  
   </section>  
   <footer>  
     <div class="footer0">  
       <h1>StyleShop</h1>  
     </div>  
     <div class="footer1 ">  
       Connect with us at<div class="social-media">  
         <a href="#">  
           <ion-icon name="logo-facebook"></ion-icon>  
         </a>  
         <a href="#">  
           <ion-icon name="logo-linkedin"></ion-icon>  
         </a>  
         <a href="#">  
           <ion-icon name="logo-youtube"></ion-icon>  
         </a>  
         <a href="#">  
           <ion-icon name="logo-instagram"></ion-icon>  
         </a>  
         <a href="#">  
           <ion-icon name="logo-twitter"></ion-icon>  
         </a>  
       </div>  
     </div>  
     <div class="footer2">  
       <div class="product">  
         <div class="heading">Products</div>  
         <div class="div">Sell your Products</div>  
         <div class="div">Advertise</div>  
         <div class="div">Pricing</div>  
         <div class="div">Product Buisness</div>  
       </div>  
       <div class="services">  
         <div class="heading">Services</div>  
         <div class="div">Return</div>  
         <div class="div">Cash Back</div>  
         <div class="div">Affiliate Marketing</div>  
         <div class="div">Others</div>  
       </div>  
       <div class="Company">  
         <div class="heading">Company</div>  
         <div class="div">Complaint</div>  
         <div class="div">Careers</div>  
         <div class="div">Affiliate Marketing</div>  
         <div class="div">Support</div>  
       </div>  
       <div class="Get Help">  
         <div class="heading">Our Team</div>  
         <div class="div">Kuberan v</div>  
         <div class="div">Maruthan G</div>  
         <div class="div">Jafri W</div>  
         <div class="div">Sharulatha I</div>  
       </div>  
     </div>  
     <div class="footer3">Copyright © <h4>StyleShop</h4> 2021-2028</div>  
   </footer>  
   <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>  
     
 </body>  
 </html>  